@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --active-background-color: #3882f6;
  --background-color-light: #dfd3c3;
  --background-color-dark: rgb(58, 149, 126);
  --text-color-light: #ffffff;
  --text-color-dark: #f5a623;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  padding-inline-start: 0;
  margin-block: 0;
}

body {
  background-color: var(--background-color-dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5%;
  border-bottom: dashed 7px var(--text-color-light);
  padding-bottom: 1%;
}

@media (min-width: 768px) {
  .header {
    gap: 15px;
    margin-top: 4%;
  }
}

.main {
  border: solid 4px var(--text-color-light);
  background-color: var(--background-color-light);
  background-image: linear-gradient(to top left, #7776b3 45%, #e54384 90%);
  border-radius: 10px;
  width: 90%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .main {
    border: solid 7px var(--text-color-light);
    border-radius: 15px;
    align-items: center;
    padding: 3% 0;
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .main {
    border: solid 7px var(--text-color-light);
    border-radius: 15px;
    align-items: center;
    padding: 3% 0;
    width: 55%;
  }
}

.footer {
  background-color: var(--text-color-dark);
  color: var(--text-color-light);
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5% 0;
  width: 100%;
}

@media (min-width: 768px) {
  .footer {
    font-size: 1.2rem;
    padding: 2% 0;
  }
}

@media (min-width: 1200px) {
  .footer {
    font-size: 1.5rem;
    padding: 0.8% 0;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
  width: 50%;
}

@media (min-width: 768px) {
  .section {
    width: 35%;
  }
}

.section-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
  width: 100%;
}

@media (min-width: 768px) {
  .section-buttons {
    order: 1;
    width: 30%;
  }
}

.header-text {
  color: var(--text-color-light);
  font-family: "Lobster", sans-serif;
  font-size: 1.5rem;
}

.dice-img-header {
  width: 45px;
}

@media (min-width: 768px) {
  .header-text {
    font-size: 3rem;
  }

  .dice-img-header {
    width: 70px;
  }
}

@media (min-width: 1200px) {
  .header-text {
    font-size: 3.5rem;
  }

  .dice-img-header {
    width: 85px;
  }
}

.player-name {
  color: var(--text-color-light);
  position: relative;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-top: 4%;
  word-spacing: 1px;
  font-weight: 700;
  font-family: "Indie Flower", sans-serif;
}

@media (min-width: 768px) {
  .player-name {
    font-size: 2.5rem;
    letter-spacing: 1px;
    word-spacing: 2px;
  }
}

@media (min-width: 1200px) {
  .player-name {
    font-size: 3.5rem;
    letter-spacing: 1px;
    word-spacing: 2px;
  }
}

.total-score {
  font-size: 2.5rem;
  font-weight: 700;
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  border: dashed 4px var(--text-color-light);
  padding: 3% 7%;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
}

@media (min-width: 768px) {
  .total-score {
    font-size: 4rem;
    margin-bottom: 5%;
    border-radius: 15px;
  }
}

@media (min-width: 1200px) {
  .total-score {
    font-size: 5.5rem;
    margin-bottom: 5%;
    border-radius: 15px;
    border: dashed 6px var(--text-color-light);
  }
}

.round {
  opacity: 0.8;
  text-align: center;
  transition: all 0.75s;
}

@media (min-width: 768px) {
  .round {
    margin-top: 5%;
  }
}

@media (min-width: 1200px) {
  .round {
    margin-top: 10%;
  }
}

.round-score-label {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--text-color-light);
  font-family: "Indie Flower", sans-serif;
  margin-top: 20%;
}

@media (min-width: 768px) {
  .round-score-label {
    font-size: 1.5rem;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .round-score-label {
    font-size: 1.8rem;
    margin-top: 0;
  }
}

.round-score {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color-dark);
  font-family: "Nunito", sans-serif;
}

@media (min-width: 768px) {
  .round-score {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  .round-score {
    font-size: 4.5rem;
  }
}

.dice-img {
  width: 78px;
  margin-bottom: 3%;
}

@media (min-width: 768px) {
  .dice-img {
    width: 120px;
    margin-bottom: 5%;
  }
}

@media (min-width: 1200px) {
  .dice-img {
    width: 150px;
    margin-bottom: 6%;
  }
}

.button {
  font-family: "Nunito", sans-serif;
  background: none;
  border: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  opacity: 0.9;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

.button-roll,
.button-hold {
  color: var(--text-color-light);
  transition: all 0.2s;
  opacity: 0.9;
  background-color: var(--background-color-dark);
  backdrop-filter: blur(10px);
  margin-bottom: 3%;
}

.button-new {
  color: var(--background-color-dark);
  background-color: var(--text-color-light);
  font-weight: 800;
  order: 0;
  width: 100%;
  margin: 3% 28%;
  height: fit-content;
}

@media (min-width: 768px) {
  .button-new {
    margin: 2% 34%;
  }
}

@media (min-width: 1200px) {
  .button-new {
    margin: 2% 36%;
  }
}

@media (min-width: 768px) {
  .button {
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    margin-bottom: 5%;
  }
}

@media (min-width: 1200px) {
  .button {
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    margin-bottom: 4%;
  }
}

@media (min-width: 1200px) {
  .button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin-bottom: 5.5%;
  }
}

.button:active {
  box-shadow: 0 0.2rem 1rem #fff;
}

.button:focus,
.button:hover {
  outline: none;
}

.button-roll:focus,
.button-roll:hover,
.button-hold:focus,
.button-hold:hover {
  border: 2px dashed var(--text-color-light);
}

.button-new:focus,
.button-new:hover {
  border: 2px dashed var(--background-color-dark);
}

@media (min-width: 768px) {
  .button-roll:focus,
  .button-roll:hover,
  .button-hold:focus,
  .button-hold:hover {
    outline: none;
    opacity: 80%;
    border: 4px dashed var(--text-color-light);
  }

  .button-new:focus,
  .button-new:hover {
    outline: none;
    opacity: 80%;
    border: 4px dashed var(--background-color-dark);
  }
}
